@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Style pour le scroll horizontal */
.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Pour cacher la scrollbar sur desktop */
@media (min-width: 688px) {
  .overflow-x-auto {
    scrollbar-width: thin; /* Change to thin for visibility */
    -ms-overflow-style: auto; /* Allow scrollbar to show */
  }
  .overflow-x-auto::-webkit-scrollbar {
    display: block; /* Show scrollbar */
    height: 6px; /* Set height */
  }
}

/* Style de la scrollbar sur petit ecran */
@media (max-width: 689px) {
  .overflow-x-auto::-webkit-scrollbar {
    height: 6px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
/* Amélioration du scroll sur iOS */
@supports (-webkit-overflow-scrolling: touch) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}

/* Désactiver le pull-to-refresh sur mobile */
body {
  overscroll-behavior-y: none;
}

/* Optimisation des interactions tactiles */
* {
  touch-action: manipulation;
}

/* Amélioration du scroll horizontal pour les filtres */
.scroll-smooth {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Masquer la scrollbar tout en gardant la fonctionnalité */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  .transition-gpu {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .will-change-transform {
    will-change: transform;
  }
   .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}